@model WebApplication5.Models.CentralGeneratePOViewModel

@{
    //var uni = ViewBag.University as WebApplication5.Models.University;

    Layout = "~/Views/Shared/_centralAccountant.cshtml";
    ViewBag.Title = "Purchase Order";
    var today = DateTime.Now.ToString("dd-MM-yyyy");
}

<style>
    .po-container {
        border: 2px solid black;
        padding: 30px;
        max-width: 800px;
        height: 800px;
        margin: auto;
        font-family: Arial, sans-serif;
    }

    .po-title {
        font-size: 28px;
        font-weight: bold;
        text-align: right;
    }
    .btn-secondary {
        --bs-btn-color: white;
        --bs-btn-bg: blue;
    }
    .company-header {
        font-size: 16px;
        font-weight: bold;
    }

    table {
        width: 100%;
        height: 50px;
        border-collapse: collapse;
        margin-top: 10px;
    }

    th, td {
        border: 1px solid black;
        padding: 6px;
        text-align: left;
    }

    .no-border {
        border: none;
    }

    .signature {
        margin-top: 50px;
        text-align: right;
    }

    .print-button {
        margin-top: 30px;
        text-align: center;
    }

    .company-header {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .po-title {
        font-size: 18px;
        font-weight: bold;
    }

    .input-no-border {
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
    }
</style>
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
}


<div class="po-container">
    <!-- Search bar to fetch PO Details -->
    @*<h2>Search Purchase Order</h2>

        @using (Html.BeginForm("PODetails", "CentralAccountant", FormMethod.Post))
        {
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Enter PO Number:</label>
                <div class="col-sm-4">
                    <input type="text" name="poNumber" class="form-control" placeholder="PO123" required />
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Fetch</button>
                </div>
            </div>
        }

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }*@

    @*@if (!string.IsNullOrEmpty(Model.CertificationFilePath))
        {
            <div class="mt-3">
                <label>Certified Document:</label>
                <a href="@Url.Content(Model.CertificationFilePath)" target="_blank">View Certificate</a>
            </div>
        }*@


    @if (Model != null)
    {


        <div class="d-flex justify-content-between">
            <!-- Left side: University details stacked vertically -->
            <div>

                <div class="company-header">@Model.CentralDepartmentName</div>
                <div>@Model.CentralDepartmentAddress</div>
                <div>Email: @Model.CentralDepartmentEmail</div>
                <div>Phone: @Model.CentralDepartmentPhone</div>

            </div>

            <!-- Right side: PO title -->
            <div class="po-title text-end">
                <div>Purchase Order</div>
                <div style="font-size: 14px;">PO No: @Model.PONumber</div>
            </div>
        </div>

        <!-- Displaying the PO details -->
        <table>
            <tr>
                <td><strong>Date:</strong> @Model.PODate</td>
                <td><strong>Requisition No:</strong> @Model.RequisitionNo</td>
            </tr>

            <tr>
                <td colspan="2">
                    <strong>Ship To:</strong> @Model.ShipTo
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <th>Requisitioned By</th>
                <th>When Ship</th>
                <th>Ship Via</th>
                <th>F.O.B. Point</th>
                <th>Terms</th>
            </tr>
            <tr>
                <td>@Model.RequisitionedBy</td>
                <td>@Model.WhenShip</td>
                <td>@Model.ShipVia</td>
                <td>@Model.FOBPoint</td>
                <td>@Model.Terms</td>
            </tr>
        </table>






        <table class="table">
            <tr>
                <th>Order Qty</th>
                <th>Received Qty</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Total</th>
                <th>Remarks</th>
            </tr>

            @for (int i = 0; i < Model.CentralPurchaseOrderItems.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => m.CentralPurchaseOrderItems[i].QtyOrdered)
                    </td>

                    <td>
                        @Html.DisplayFor(m => m.CentralPurchaseOrderItems[i].QtyReceived)
                    </td>

                    <td>
                        @Html.DisplayFor(m => m.CentralPurchaseOrderItems[i].Description)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.CentralPurchaseOrderItems[i].UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.CentralPurchaseOrderItems[i].Total)
                    </td>

                    <td>
                        @Html.DisplayFor(m => m.CentralPurchaseOrderItems[i].Remarks)
                    </td>

                </tr>
            }
        </table>




        using (Html.BeginForm("InitiatePayment", "CentralAccountant", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.PONumber)

            <div class="text-end mt-3">
                <button type="submit" class="btn btn-success">Initiate Payment</button>
            </div>

        }

        if (!string.IsNullOrEmpty(Model.StoreUploads))
        {
            <div class="mt-3">
                <label>Certified Document:</label>
                <a href="@Url.Content(Model.StoreUploads)" target="_blank">Store Certificate</a>
            </div>
        }

        if (!string.IsNullOrEmpty(Model.PurchaseDepartmentUploads))
        {
            <div class="mt-3">
                <label>Certified Document:</label>
                <a href="@Url.Content(Model.PurchaseDepartmentUploads)" target="_blank">PurchaseDepartment Certificate</a>
            </div>
        }



        <div class="text-lg-center mt-3">
            <button type="button" class="btn btn-secondary" onclick="window.print()">Print PO</button>
        </div>



        <div style="font-size: 13px; margin-top: 10px;">
            <p>
                1. Please send @Model.CopiesOfInvoice copies of your invoice.
            </p>

            <p>2. Order is to be entered in accordance with prices, delivery and specifications shown above.</p>
            <p>3. Notify us immediately if you are unable to ship as specified.</p>
        </div>


        <div class="signature">

            <strong>AUTHORIZED BY</strong><br />
            @Model.AuthorizedBy
            <br /><br />



        </div>
    }



</div>

