@model WebApplication5.Models.EmployeeIssueMaterial

<div class="container p-3">
    <h4 class="mb-4 text-primary">Issue Material</h4>
    <hr class="mb-4" />

    @using (Html.BeginForm("IssueMaterial", "Home", FormMethod.Post, new { @class = "needs-validation", @novalidate = "novalidate" }))
    {
        @Html.HiddenFor(m => m.RequestID)
        @Html.HiddenFor(m => m.EmpID)
        @Html.HiddenFor(m => m.HODID)
        @Html.HiddenFor(m => m.AssetType)
        @Html.HiddenFor(m => m.MaterialCategory)
        @Html.HiddenFor(m => m.MaterialSubCategory)
        @Html.HiddenFor(m => m.AvailableQuantity)
        @Html.HiddenFor(m => m.IssuedBy)

        <div class="mb-3">
            <label for="RequestingQuantity" class="form-label text-dark">Requesting Quantity</label>
            @Html.TextBoxFor(m => m.RequestingQuantity, new { @class = "form-control", type = "number", min = "0", id = "RequestingQuantity", required = "required" })
            <div class="invalid-feedback">
                Please enter the requesting quantity.
            </div>
        </div>

        <div class="mb-3">
            <label for="ApprovedQuantity" class="form-label text-dark">Approved Quantity</label>
            @Html.TextBoxFor(m => m.ApprovedQuantity, new { @class = "form-control", type = "number", min = "0", id = "ApprovedQuantity", required = "required" })
            <div class="invalid-feedback">
                Please enter the approved quantity.
            </div>
        </div>

        <div class="mb-3">
            <label for="AvailableQuantity" class="form-label text-dark">Available Quantity</label>
            <input class="form-control" type="text" value="@Model.AvailableQuantity" disabled id="AvailableQuantity" />
        </div>

        <div class="mb-3">
            <label for="IssuingQuantity" class="form-label text-dark">Issued Quantity</label>
            @Html.TextBoxFor(m => m.IssuingQuantity, new { @class = "form-control", type = "number", min = "0", id = "IssuingQuantity", @readonly = "Readonly" })
            @*<div class="invalid-feedback">
                Please enter the issuing quantity.
            </div>*@
        </div>

        <div class="mb-3">
            <label for="IssuingQuantity" class="form-label text-dark">Issuing Quantity</label>
            @Html.TextBoxFor(m => m.Issue, new { @class = "form-control", value = "0",type = "number", min = "0", id = "IssuingQuantity", required = "required" })
            <div class="invalid-feedback">
                Please enter the issuing quantity.
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Confirm Issue</button>
    }
</div>

<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

